# data structures
+ lists
- tuples
+ sets
- dictionaries
## list
+ list is a sequence,typically used to store collections of homogenous items
- lists are mutable
- using a pair of square brackets to denote the empty list: []
- using square brackets,separating items with commas:[a],[a,b,c]
- using a list comprehension:[x for x in iterable]
- using the type constructor:list() or list(iterable)

## tuples
-

In [1]:
# list 
l1=[]
type(l1)

list

In [3]:
l1=[1,2,3,4,5,"hello","hru"]
print(l1)

[1, 2, 3, 4, 5, 'hello', 'hru']

In [53]:
l1=[1,2,3,4,5,6,6,"hello","hru"]
l2=["welcome",7,8,9]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru', 'welcome', 7, 8, 9]

In [52]:
print(l3[0])
print(l3[-1])

1
9

In [54]:
print(l3[:])
print(l3[0:])
print(l3[5:8])
print(l3[::-1])
print(l3[11:9:-1])

[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru', 'welcome', 7, 8, 9]
[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru', 'welcome', 7, 8, 9]
[6, 6, 'hello']
[9, 8, 7, 'welcome', 'hru', 'hello', 6, 6, 5, 4, 3, 2, 1]
[8, 7]

In [33]:
# list methods
dir(list)
a=[]
dir(l1)
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

In [38]:
# append
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

[1, 2, 3, 4, 5, [6, 7, 8, 9, 0]]

In [58]:
# append
a=[1,2,3,4,5]
a.append([8,9])
a

[1, 2, 3, 4, 5, [8, 9]]

In [59]:
# extend
a=[1,2,3,4,5]
a.append([8,9])
a.extend([8,9])
a[5]
print(a)

[1, 2, 3, 4, 5, [8, 9], 8, 9]

In [60]:
a[5][0]
print(a)

[1, 2, 3, 4, 5, [8, 9], 8, 9]

In [63]:
# count
l1=[1,2,3,4,5,6,6,"hello","hru"]
l1.count(6)

2

In [64]:
# index
l1=[1,2,3,4,5,6,6,"hello","hru"]
l1.index(1)

0

In [83]:
# difference between pop ,remove
l1=[1,2,3,4,5,6,6,"hello","hru"]

In [87]:
l1=[1,2,3,4,5,6,6,"hello","hru"]
l1.pop(7)

'hello'

In [88]:
l1.remove(2)
l1

[1, 3, 4, 5, 6, 6, 'hru']

In [91]:
l1=[1,2,3,4,5,6,6,"hello","hru"]
del l1[0]
print(l1)

[2, 3, 4, 5, 6, 6, 'hello', 'hru']

In [96]:
l1=[1,2,3,4,5,6,6,"hello","hru"]
l1.clear()
print(l1)

[]

In [98]:
l1=[1,2,3,4,5,6,6,"hello","hru"]
print(del l1)

SyntaxError: invalid syntax (<ipython-input-98-7b9b2c4318dc>, line 2)

In [103]:
thislist=["a","b","c"]
thislist.extend(["d","e","f"])
print(thislist)

['a', 'b', 'c', 'd', 'e', 'f']

In [106]:
a=[1,2,3,4,"hi"]
del a[2]
print(a)

[1, 2, 4, 'hi']

In [ ]:
l1=[1,2,3,4,5,6,6,"hello","hru"]
l1=[]

In [117]:
x=[1,2,3,46,7,88]
x.sort()
x.reverse()
x
x.reverse()
x
x.sort(reverse=False)
x
x.sort(reverse=True)
x

[88, 46, 7, 3, 2, 1]

In [120]:
# insert(position,value)
vowels=["a","i"]
vowels.insert(1,"e")
vowels.insert(3,"o")
vowels.insert(4,"u")
print(vowels)

['a', 'e', 'i', 'o', 'u']

In [128]:
l1=[1,2,3,4,5,6,6,"hello","hru"]
l2=l1.copy()
print(l2)
print(l1)
l1.append(100)
print(l2)
l2=l1
print(l2)

[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru']
[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru']
[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru']
[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru', 100]

In [144]:
m=[]
n=int(input("enter range of numbers"))
for i in range(0,n+1):
      m.append(i)
print(m)

enter range of numbers99
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [145]:
l1

[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru', 100]

In [147]:
l1[9]=99
l1

[1, 2, 3, 4, 5, 6, 6, 'hello', 'hru', 99]

# tuples
- tuples are imutable sequences,typically used to store collections oh heterogenous data
- tuples are also used for cases where an immutable sequences of homogeneous data is needed
- using a pair of parenthesis to denote empty tuple:()
- using  a trailing comma for a singlrton tuple:(a,)
- separating items with commas:a,b,cor(a,b,c) 
- using the tuple() built in :tuple()or tuple(iterable)

In [148]:
t=()
type(t)

tuple

In [164]:
t=(1,2,3,4,5,"a","b","c")
t[0]
t[-1]
t[5]
t[2:5]
t[::-1]
t[:]
t[2:3]
t[0:]
# immutable
t[0]=8
t

TypeError: 'tuple' object does not support item assignment

In [165]:
#methods
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [1]:
#task:
li=[1,2,3,4,5,6,7,8,9]
for i in li:
    if

SyntaxError: invalid syntax (<ipython-input-1-cd3ad1d7602f>, line 4)

In [2]:
numbers = [1, 2, 2, 3, 3, 4, 5]


def get_unique_numbers(numbers):

    list_of_unique_numbers = []

    unique_numbers = set(numbers)

    for number in unique_numbers:
        list_of_unique_numbers.append(number)

    return list_of_unique_numbers


print(get_unique_numbers(numbers))

[1, 2, 3, 4, 5]

In [3]:
li=[1,1,2,3,5,5]
set(li)

{1, 2, 3, 5}

In [6]:
li=[1,2,3,4,5,6,7,6,4]
l1=[]
for i in li:
    if i not in l1:
        l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
# packing
# 
student=("karrusanika","522","cse","pace")
(name,rollno,dpt,clg)=student
print(rollno)
print(name)
print(dpt)
print(clg)

522
karrusanika
cse
pace

# Dictionaries
- creating a dictionaries is as simple as placing items inside curly braces{} separated by commas
- an item has a key and a corresponding value that is expressed as a pair(key:value)
- access values,a dictionary uses keys

In [14]:
address={}
type(address)

dict

In [15]:
address={1,2,3,4,5}
type(address)

set

In [25]:
address={"name":"abc",
          "age":"90","place":"ongole"}
address

{'name': 'abc', 'age': '90', 'place': 'ongole'}

In [27]:
address["pincode1"]="523001"
print(address)

{'name': 'abc', 'age': '90', 'place': 'ongole', 'pincode': 523001, 'pincode1': '523001'}

In [32]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [34]:
address.get("pincode")
address.get("age")

'90'

In [35]:
address.items()

dict_items([('name', 'abc'), ('age', '90'), ('place', 'ongole'), ('pincode', 523001), ('pincode1', '523001')])

In [36]:
address.keys()

dict_keys(['name', 'age', 'place', 'pincode', 'pincode1'])

In [37]:
address.values()

dict_values(['abc', '90', 'ongole', 523001, '523001'])

In [38]:
address.popitem()

('pincode1', '523001')

In [40]:
address.pop("name")

'abc'

In [41]:
address

{'age': '90', 'place': 'ongole', 'pincode': 523001}

In [43]:
address1={"pincode2":523991,"street":"mmroad"}
address1

{'pincode2': 523991, 'street': 'mmroad'}

In [45]:
address.update(address1)
address

{'age': '90',
 'place': 'ongole',
 'pincode': 523001,
 'pincode2': 523991,
 'street': 'mmroad'}

In [47]:
address["name"]="xyz"
address

{'age': '90',
 'place': 'ongole',
 'pincode': 523001,
 'pincode2': 523991,
 'street': 'mmroad',
 'name': 'xyz'}

In [54]:
address2={}
address2=dict.fromkeys(address,"fields")
address2

{'age': 'fields',
 'place': 'fields',
 'pincode': 'fields',
 'pincode2': 'fields',
 'street': 'fields',
 'name': 'fields'}

In [56]:
li=["True"]
li

['True']

# sets
- a set is an unordered collection of items.every set element is unique(no duplicates) and must be immutable (cannot be changed)
- a set is created by placing all the items inside curly braces{},separated by comma,or by using the builtin set()function

In [57]:
#  sets
s={1,2,3,4,5,5,6,7,8,3}
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [59]:
  'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update'

IndentationError: unexpected indent (<ipython-input-59-1a72e9243e03>, line 2)

In [62]:
b={1,2,3,4,5,6}
s.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
s.intersection(b)

{1, 2, 3, 4, 5, 6}

In [66]:
s.add(9)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
s.clear()
s

set()

In [73]:
a={1,2,3,4,5}
b={1,2,3,8,5}
a.difference(b)

{4}

In [74]:
b.difference(a)

{8}

In [75]:
a.pop()

1

In [76]:
b.pop()

1

In [77]:
b

{2, 3, 5, 8}

In [78]:
a

{2, 3, 4, 5}

In [82]:
a.remove(4)
a

{3, 5}

In [85]:
a.update(b)
a

{2, 3, 5, 8}

In [88]:
a.isdisjoint(b)

False